html,
body {
}

.navbar {
  margin-bottom: 16px;
}
.container {
  clear: both;
  float: left;
}
#post-title {
  font-weight: bold;
}
#post-date {
  float: right;
}
#post-user {
  font-style: italic;
}
.card {
  margin-bottom: 8px;
}
